body{

background:#111827;

font-family:tahoma;

}


.menu{

padding:20px;

}


h2{

text-align:center;

color:white;

}



button{

width:100%;

height:60px;

border:none;

border-radius:15px;

margin:8px 0;

font-size:20px;

color:white;

}



.grid{

display:grid;

grid-template-columns:1fr 1fr;

gap:10px;

}


.grid button{

width:100%;

}



.hidden{

display:none;

}



/* رنگ ها */


.blue{

background:#2563eb;

}


.green{

background:#16a34a;

}


.orange{

background:#ea580c;

}


.gold{

background:#ca8a04;

}


.red{

background:#dc2626;

}


.gray{

background:#475569;

}


.yellow{

background:#eab308;

}


.white{

background:#64748b;

}


.brown{

background:#92400e;

}


.back{

background:#334155;

}